<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="ion-padding">
    <img class="ion-padding" alt="FALCON INGENIERIA" src="assets/falcon.png"/>
    <ion-card-header class="ion-text-center">
      <ion-card-title>Soluciones Industriales</ion-card-title>
      <ion-card-subtitle>Diseño, Suministro, Desarrollo e Implementación de Proyectos de Automatización Industrial</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Proveemos productos y servicios de automatización industrial, integración de sistemas, suministros en instrumentación, sistemas de control, sistemas SCADA, sistemas de información, sistemas inalámbricos, edificios inteligentes, capacitación y soporte.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Contáctanos
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-label>+504 9420-2327</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Correos</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label>info@falconingenieria.com</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label>ventas@falconingenieria.com</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
